<header id='hero' class='d-flex' style='<%= homepage_hero_background_image %>'>
  <div class='align-self-center col'>
    <h1><%= t :brand %></h1>
    <p><%= t :tagline %></p>
  </div>
</header>

<nav>
  <% t('home.nav').each do |_, name| %>
    <%= link_to name, anchor: name.downcase %>
  <% end %>
</nav>

<% %w[what why how when who].each do |section| %>
  <%= render "about/home/#{section}" %>
<% end %>
