<header>
  <h1><%= t :brand %></h1>
  <p><%= t :tagline %></p>
</header>

<nav>
  <% t('home.nav').each do |_, name| %>
    <%= link_to name, anchor: name.downcase %>
  <% end %>
</nav>

<%# how  who %>
<% %w[what why when].each do |section| %>
  <div id='<%= section %>'>
    <h2><%= t "home.#{section}.heading" %></h2>

    <%= render_markdown t("home.#{section}.description") %>
  </div>
<% end %>
