<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body <%= body_id %>>
    <% if false %>
      <nav>
        <% t('nav').each do |path, name| %>
          <%= link_to name, path, class: path %>
        <% end %>
      </nav>

      <p><%= render_markdown t :status %></p>
    <% end %>

    <%= yield %>

    <footer role='contentinfo'>
      <div class='container text-center' id='contact'>
        <% URL::SOCIAL_LINKS.each do |name, url| %>
          <%= link_to name, url, class: name.downcase, target: '_blank' %>
        <% end %>

        <%= mail_to URL::CONTACT_US_EMAIL, t('footer.email.name'), subject: t('footer.email.subject') %>
      </div>
    </footer>
  </body>
</html>
