<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body <%= body_id %>>
    <nav>
      <% t('nav').each do |path, name| %>
        <%= link_to name, path, class: path %>
      <% end %>
    </nav>

    <%= yield %>

    <footer>
      <% URL::SOCIAL_LINKS.each do |name, url| %>
        <%= link_to name, url, class: name.downcase, target: '_blank' %>
      <% end %>

      <%= mail_to URL::CONTACT_US_EMAIL, t('footer.email.name'), subject: t('footer.email.subject') %>
    </footer>
  </body>
</html>
